version: "3"
services:
  
  home-assistant:
    container_name: home-assistant
    build: ./home-assistant
    restart: always
    ports:
      - "0.0.0.0:8123:8123"
    links:
      - mosquitto:mqtt
    networks:
          - smart-home-network
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./home-assistant/config:/config

  mosquitto:
    container_name: mosquitto
    build: ./mosquitto
    restart: always
    ports:
      - "0.0.0.0:1883:1883"
    networks:
          - smart-home-network
    volumes:
      - ./mosquitto/config:/mosquitto/config/

  snips-master:
    container_name: snips-master
    build: ./snips-master
    restart: always
    links:
      - mosquitto:mqtt
    depends_on:
      - mosquitto
    networks:
          - smart-home-network
    volumes:
      - ../common/snips-base/common-config/:/common-config

  snips-satellite:
    container_name: snips-satellite
    build: ./snips-satellite
    privileged: true
    devices:
      - "/dev/snd"
    links:
      - mosquitto:mqtt
    depends_on:
      - mosquitto
      - snips-master
    networks:
          - smart-home-network
    volumes:
      - /run/user/1000/pulse:/run/user/1000/pulse
      - /etc/machine-id:/etc/machine-id
      - ~/.config/pulse/cookie:/root/.config/pulse/cookie
      - ../common/snips-base/common-config/:/common-config

  snips-watch:
    container_name: snips-watch
    build: ./snips-watch
    restart: always
    external_links:
      - mosquitto:mqtt
    networks:
          - smart-home-network
    volumes:
      - ../common/snips-base/common-config/:/common-config

  mqtt-deamon:
    container_name: mqtt-deamon
    build: ./mqtt-deamon
    external_links:
      - mosquitto:mqtt
    networks:
          - smart-home-network
    volumes:
      - ./mqtt-deamon/files:/files
      - ./mqtt-deamon/config:/config

networks:
  smart-home-network:
    external: true