turn_on:
  speech:
    type: plain
    text: <p>{{ item | replace("_", " ") }} was turned on.</p>
  action:
    - service: light.turn_on
      data_template:
        entity_id: light.{{ site_id | replace("satellite-", "") }}_{{ item }}

turn_off:
  speech:
    type: plain
    text: <p>{{ item | replace("_", " ") }} was turned off.</p>
  action:
    - service: light.turn_off
      data_template:
        entity_id: light.{{ site_id | replace("satellite-", "") }}_{{ item }}

toggle:
  speech:
    type: plain
    text: <p>Switching {{ item | replace("_", " ") }}</p>
  action:
    - service: light.toggle
      data_template:
        entity_id: light.{{ site_id | replace("satellite-", "") }}_{{ item }}

set_brightness:
  speech:
    type: plain
    text: <p>{{ item | replace("_", " ") }} was adjusted.</p>
  action:
    - service: light.turn_on
      data_template:
        entity_id: light.{{ site_id | replace("satellite-", "") }}_{{ item }}
        brightness_pct: >
          {%- if level == "maximal" -%}
            100
          {%- elif level == "high" -%}
            75
          {%- elif level == "medium" -%}
            45
          {%- elif level == "low" -%}
            5
          {%- else -%}
            {{ brightness }}
          {%- endif -%}

set_color:
  speech:
    type: plain
    text: <p>Color was changed to {{ color }}.</p>
  action:
    - service: light.turn_on
      data_template:
        entity_id: light.{{ site_id | replace("satellite-", "") }}_{{ item }}
        color_name: "{{ color }}"

set_light_temperature:
  speech:
    type: plain
    text: <p>{{ item | replace("_", " ") }} temperature was adjusted.</p>
  action:
    - service: light.turn_on
      data_template:
        entity_id: light.{{ site_id | replace("satellite-", "") }}_{{ item }}
        color_temp: >
          {%- if level == "maximal" -%}
            500
          {%- elif level == "high" -%}
            400
          {%- elif level == "medium" -%}
            300
          {%- elif level == "low" -%}
            153
          {%- endif -%}

weather_forecast:
  speech:
    type: plain
    text: >
      <p>The weather is currently {{ states('sensor.weather_forecast_temperature') | round(0) }} degrees outside and {{ states('sensor.weather_forecast_summary') }}.</p>
      <p>The high today will be {{ states('sensor.weather_forecast_daily_high_temperature') | round(0) }} and {{ states('sensor.weather_forecast_hourly_summary') }}</p>