version: "3.7"
services:
  
  home-assistant:
    container_name: home-assistant
    build:
      context: ./home-assistant
    restart: never
    ports:
      - "0.0.0.0:8123:8123"
    external_links:
      - mosquitto:mqtt
    networks:
      - smart-home-network
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./home-assistant/config:/config

  appdeamon:
    container_name: appdeamon
    build:
      context: ./appdeamon
    restart: never
    ports:
      - "0.0.0.0:5050:5050"
    external_links:
      - mosquitto:mqtt
      - home-assistant:home-assistant
    networks:
      - smart-home-network
    volumes:
      - ./appdeamon/apps:/src/apps

  mosquitto:
    container_name: mosquitto
    build:
      context: ./mosquitto
    restart: never
    ports:
      - "0.0.0.0:1883:1883"
    networks:
      - smart-home-network
    volumes:
      - ./mosquitto/config:/mosquitto/config

  snips-master:
    container_name: snips-master
    build:
      context: ./snips-master
    restart: never
    external_links:
      - mosquitto:mqtt
    depends_on:
      - mosquitto
    networks:
      - smart-home-network
    volumes:
      - ../common/snips-base/common-config:/common-config

  central-tts:
    container_name: central-tts
    build:
      context: ./central-tts
    ports:
      - "0.0.0.0:8081:8081"
    networks:
      - smart-home-network
    volumes:
      - ./central-tts/config:/usr/src/app/build/libs/resources/config
      - ./central-tts/data:/usr/src/app/build/libs/data

  snips-watch:
    container_name: snips-watch
    build:
      context: ./snips-watch
    restart: never
    external_links:
      - mosquitto:mqtt
    networks:
      - smart-home-network
    volumes:
      - ../common/snips-base/common-config/:/common-config

  mqtt-deamon:
    container_name: mqtt-deamon
    build:
      context: ./mqtt-deamon
    external_links:
      - mosquitto:mqtt
    networks:
      - smart-home-network
    volumes:
      - ./mqtt-deamon/files:/files
      - ./mqtt-deamon/config:/config

networks:
  smart-home-network:
    external: true