version: "3.7"
services:
  
  snips-base-custom:
    container_name: snips-base-custom
    build:
      context: snips-base

  snips-base:
    container_name: snips-base
    build:
      context: snips-base
      dockerfile: Dockerfile-official
  
  java-base-debian:
    container_name: java-base-debian
    build:
      context: java-base-debian

  java-base-alpine:
    container_name: java-base-alpine
    build:
      context: java-base-alpine
