version: "3.7"
services:
  
  snips-base:
    container_name: snips-base
    build:
      context: ./snips-base
    volumes:
      - ../snips-base/common-config/:/common-config
  
  java-base:
    container_name: java-base
    build:
      context: ./java-base
    volumes:
      - ./java-base/gradle:/gradle
    